/** ----------Body---------- **/

body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}



/** ----------Navbar---------- **/

.container {
    max-width: 500px;
    margin: auto;
} 

.nav h1 {
    text-align: center;
    background-color: #7AECCC;
    color: #fff;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2em;
}



/** ----------Header---------- **/

.header {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h2 {
    font-size: 1.2em;
    color: #717777;
}

.header p {
    font-size: 0.90em;
    color: #8e9595;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    border-top: 4px solid #777b7a; 
    border-bottom: 2px solid #777b7a; 
    border-left:none; 
    border-right:none; 
    height: 3px; 
 } 
